<!-- Toolbar -->

<!-- <div class="bg"> -->

<!-- <div class="bg" style="background-image: url('{{myimage}}');  "> -->



<nav class="navbar navbar-expand-md navbar-dark nav navbar-nav navbar-center ">
  <a class="navbar-brand text-center">Quiz Application</a>


</nav>


<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <h1>Welcome to {{ title }} </h1>
  </div>


  <div id="quiz" class="my-3">
    <app-quiz></app-quiz>
  </div>
</div>

<!-- </div> -->